<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Subject</th>
      <th>Sent By</th>
      <th>TimeStamp</th>
    </tr>
  </thead>
  <tbody>
  {% for item in notif %}
 
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'courses:viewannounce' %}?code={{ item.course.course_code }}&id={{ item.id }}" class="myBox2 newBox">{{ item.message }}</a></td>
      <td><a href="{% url 'courses:viewannounce' %}?code={{ item.course.course_code }}&id={{ item.id }}" class="myBox2 newBox">{{ item.sender.first_name }} {{ item.sender.last_name }}</a></td>
      <td><a href="{% url 'courses:viewannounce' %}?code={{ item.course.course_code }}&id={{ item.id }}" class="myBox2 newBox">{{ item.time }}</a></td>
    </tr>
  {% endfor %}                      
  </tbody>
</table>