
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width=80%>
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">File</th>
                      <th>By</th>
                      <th>Date</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <!-- if statement to check empty list-->
                  {% if course_files %}
                  <tbody>
                  <!-- loop start here-->
                  {% for md,link in course_files %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{md.filename}}</td>
                      <td>{{md.uploader.first_name}}</td>
                      <td>{{md.upload_time}}</td>
                      <td>
                        <a href="{{link}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ">
                            Download
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    <!--loop end here-->
                  </tbody>
                  {% endif %}
                </table>
             
              <!--fab-->          
              
                