<main class="mdl-layout__content mdl-color--grey-100 demo-layout mdl-layout " width= 1100>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width=80%>
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">File</th>
                      <th>By</th>
                      <th>Date</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <!-- if statement to check empty list-->
                  {% if course_files %}
                  <tbody>
                  <!-- loop start here-->
                  {% for cf in course_files %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{cf.name}}</td>
                      <td>Tarunpreet Bhatia</td>
                      <td>{{cf.client_modified}}</td>
                      <td>
                        <a href="{% url 'courses:download' %}?code={{course_code}}&file={{cf.name}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ">
                            Download
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    <!--loop end here-->
                  </tbody>
                  {% endif %}
                </table>
            </main>
            <div class="fab" style="margin-bottom: 3%;margin-left: 93%;">
              <div class="fab-pos"> 
              <a href="{% url 'upload' %}?code={{ course_code }}">      
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">add</i>
                </button> 
                </a>           
              </div> 
            </div>       