{% extends 'students/sidebar_course.html' %}
{% block content %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Assignment</th>
                      <th>Marks</th>
                      <th>Uploaded By</th>
                      <th>Deadline</th>
                      <th>Solution</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <!-- if statement to check empty list-->
                  <tbody>
                  <!-- loop start here-->
                  <!-- unsubmitted -->
                  {% for assgn in unsubmitted %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{assgn.name}}</td>
                      <td>{{assgn.max_marks}}</td>
                      <td>{{assgn.uploader.first_name}}</td>
                      <td>{{assgn.deadline}}</td>
                      <td>-</td>
                      <td>
                        <a href="{% url 'students:submit_assignment' %}?code={{ course_code }}&aname={{assgn.name}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ">
                            Submit
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    <!--loop end here-->
                    <!-- submitted -->
                    {% for asub in submitted %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{asub.assignment.name}}</td>
                      <td>{{asub.assignment.max_marks}}</td>
                      <td>{{asub.assignment.uploader.first_name}}</td>
                      <td>{{asub.assignment.deadline}}</td>
                      <td>{{asub.solution_file}}</td>
                      <td>{{asub.status}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>               
{% endblock %}