{% extends 'faculty/sidebar_course.html' %}
{% block content %}
<style>
ul#group li{
  display:inline;
}
</style>
   <ul id="group">
                <li style="font-size:20px; text-align:center; margin-left: 35%;"><b>Assignment: {{aname}}</b></li><br/>              
                
                <form method="post" >
                <li style="font-size:18px;">Sub-Group:</li>
                {% csrf_token %}                 
                <li>               
                  <select class="mdl-selectfield__select mdl-selectfield mdl-js-selectfield" id="professsion1" name="sub" style="margin-top:2%; margin-left:1%;">
                  <option value=""></option>
                  {% for i in slist %}
                    <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                  </select>          
                </li>
                <li>
                  <input class="mdl-button  mdl-js-button mdl-js-ripple-effect"style="margin-left:2%;" type="submit" value="Submit"/>
                </li>
                </form>              
            </ul>  
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:97%;">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Roll No</th>
        <th>Date Submitted</th>
        <th>Evaluate</th>
      </tr>
    </thead>
    <!-- if statement to check empty list-->
    {% if assign %}
    <tbody>
    <!-- loop start here-->
    {% for a in assign %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          {{a.student.username}}</td>
        <td>
          {{a.submit_date}}</td>
        <td>
          <a href="{% url 'faculty:grade' %}?code={{course_code}}&subid={{a.id}}" class="">
              <i class="material-icons">create</i>
          </a>
        </td>
      </tr>
      {% endfor %}
      <!--loop end here-->
    </tbody>
    {% endif %}
  </table>               
{% endblock %}
