{% extends 'faculty/sidebar_course.html' %}
{% block content %}
<div class="card-pos">

              <div class="mdl-card mdl-shadow--6dp" id="new-message">
              
                <div class="mdl-card__title mdl-color--blue-grey-900 mdl-color-text--grey-50">
                  <h3 class="mdl-card__title-text" >{{ course_code }} Announcement</h3>
                </div>

                <div class="mdl-card__supporting-text">
                  <form id="announceform" method="post" enctype="multipart/form-data" action="{% url 'faculty:newannouncement' %}?code={{ course_code }}">
		    		{% csrf_token %}
                    <div class="text-pos mdl-textfield mdl-js-textfield ">
                      <input class="mdl-textfield__input" type="text" name="subject" id="subject"/>
                      <label class="mdl-textfield__label" for="subject">Subject</label>
                    </div>
                    <div class="text-pos mdl-textfield mdl-js-textfield ">
                      <textarea class="mdl-textfield__input" type="text" name="message" id="message"></textarea>
                      <label class="mdl-textfield__label" for="message">Message</label>
                    </div>
                <input type="hidden" value="{{ course_code }}" name="course_code"/>

                <div class="mdl-card__actions mdl-card--border assign-new-button">
                <a href="{% url 'faculty:showannouncement' %}?code={{ course_code }}">
                  <button class="mdl-button  mdl-js-button mdl-js-ripple-effect" style="color: white;
                  background-color: #F44336;" type="button">Cancel</button>
                  </a>
                  <button class="mdl-button  mdl-js-button mdl-js-ripple-effect" id="demo-show-toast" type="submit" name="submit">Send</button>
                  <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar text-snack">
                    <div class="mdl-snackbar__text"></div>
                    <button class="mdl-snackbar__action" type="button"></button>
                  </div>
                </div>
                  </form>
                </div>

              </div>
            </div>

<script>
                    (function() {
                      'use strict';
                      window['counter'] = 0;
                      var snackbarContainer = document.querySelector('#demo-toast-example');
                      var showToastButton = document.querySelector('#demo-show-toast');
                      showToastButton.addEventListener('click', function() {
                        'use strict';
                        var data = {message: 'Notfication sent'};
                        snackbarContainer.MaterialSnackbar.showSnackbar(data);
                      });
                    }());
</script>            
{% endblock %}
