
<!doctype html>

<html lang="en">
    <head>
    {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Dashboard</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{% static "faculty/images/android-desktop.png" %}">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="{% static "faculty/images/ios-desktop.png" %}">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">

        <link rel="shortcut icon" href="{% static "faculty/images/favicon.png" %}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
        <link rel="stylesheet" href="{% static "faculty/styles.css" %}">
       
        
        <style>
            #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
            }
        </style>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <header class="demo-header mdl-layout__header mdl-color--blue-grey-800 mdl-color-text--grey-100">
                <div class="mdl-layout__header-row">
                <a href="/faculty/" class="mdl-layout-title mdl-color-text--grey-100 myBox">
                    <span class="mdl-layout-title"> {{ user.first_name }}'s Dashboard | {{ course_name }}</span>
                </a>                                     
                </div>
            </header>
            <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
                <header class="demo-drawer-header">
                    <img src="{% static "faculty/images/abhyaas3.png" %}" class="demo-avatar">
                    <div class="demo-avatar-dropdown">
                        <span ><h4>{{ user.first_name }} {{ user.last_name }}</h4></span>
                        <div class="mdl-layout-spacer"></div>                  
                    </div>
                </header>
                <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">


                    <a class="mdl-navigation__link mdl-color-text--grey-100" href=""><i class="material-icons mdl-color-text--grey-100" role="presentation">import_contacts</i>Course Material</a>

                    <a class="mdl-navigation__link mdl-color-text--grey-100" href=""><i class="material-icons mdl-color-text--grey-100" role="presentation" >assignment</i>Assignments</span></a>       

                    <a class="mdl-navigation__link mdl-color-text--grey-100" href="{% url 'faculty:showannouncement' %}?code={{ course_code }}"><i class="material-icons mdl-color-text--grey-100" role="presentation">notifications</i>Announcements</a>

                    <a class="mdl-navigation__link mdl-color-text--grey-100" href=""><i class="material-icons mdl-color-text--grey-100">info</i>About</a>

                    <a class="mdl-navigation__link mdl-color-text--grey-100" href="/logout"><i class="material-icons mdl-color-text--grey-100">arrow_back</i>Logout</a>

                </nav>
            </div>
            <main class="mdl-layout__content mdl-color--grey-100 demo-layout mdl-layout " width= 1100>
                {% block content %}
        {% endblock %}
        {% block fab %}
        {% endblock %}
            </main>
            
        <!-- course list here -->
        
        </div>
         
        <dialog id="new-message" class="mdl-dialog">
            <h4 class="mdl-dialog__content">UCS402 New Message</h4>
            <div class="mdl-dialog__content">
              <!-- Textfield with Floating Label -->
              <form >

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">                 
                  <input class="mdl-textfield__input" type="text" id="sample3">
                  <label class="mdl-textfield__label" for="sample3">Subject...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">                 
                  <textarea class="mdl-textfield__input" type="text" rows="1" maxrows="3" id="sample2"></textarea>
                  <label class="mdl-textfield__label" for="sample2">Message...</label>
                </div>

              </form>
            </div>
            <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button">Send</button>
              <button type="button" class="mdl-button">Cancel</button>
            </div>
          </dialog> 
          <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script type="text/javascript" src="{% static "faculty/myjs.js" %}"></script>
    {% endif %}    
    </body>
</html>
